<div class="sign-form__container">

  <a href={{this.showcase.url}} class="pix-logo__link">
    <img class="pix-logo__image" src="/images/pix-logo.svg" alt="{{this.showcase.linkText}}" />
  </a>

  <div class="sign-form__header">
    <h1 class="sign-form-header__title">{{t "pages.sign-in.first-title"}}</h1>
  </div>

  <LinkTo
    @route="authentication.login-oidc"
    @model="google"
    class="sign-form-body__oidc-connect-link oidc-provider-google"
  >
    <img src="/images/logo/google-logo.svg" alt="" />
    <span>{{t "pages.sign-in.google.title"}}</span>
  </LinkTo>
</div>